$movie-card-height: 24rem;
$movie-card-width: 16rem;
$live-card-width: 17.5rem;
$episode-card-height: 10rem;
$episode-card-width: 18rem;

.tp__playlist-explorer {
  display: flex;
  flex-flow: column;
  gap: var(--gap-default);
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--card-background-color);
  color: var(--card-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding-small);

  &__loading {
    transform: translateY(-10px);
  }

  &__header {
    display: flex;
    flex-flow: column;

    &-toolbar {
      display: flex;
      flex-flow: row;
      box-sizing: border-box;
      width: 100%;
      justify-content: space-between;

      &-actions {
        display: flex;
        flex-flow: row;
        gap: var(--gap-default);
        align-items: center;

        .tp__icon-button {
          width: 2.5rem;
          height: 2.5rem;

          .svg-icon {
            height: 100%;
            width: 100%;
          }
        }
      }

      &-search {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-end;
      }
    }
  }

  &__body {
    display: flex;
    flex-flow: column;
    gap: var(--gap-default);
    box-sizing: border-box;
    overflow: hidden;
  }

  &__group,
  &__categories {
    display: flex;
    flex-flow: row;
    gap: var(--gap-default);
    box-sizing: border-box;
    overflow: hidden;

    &-sidebar {
      .tp__icon-button.active {
        color: var(--tag-active-color);
        fill: currentColor;
      }
    }

    &-content {
      display: flex;
      flex-flow: row;
      width: 100%;
      gap: var(--gap-default);
      box-sizing: border-box;
      overflow-y: auto;
    }

    &-list {
      display: grid;
      gap: var(--gap-default);
      box-sizing: border-box;
      width: 100%;
      overflow: auto;

      &-live {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($live-card-width, 1fr));
        gap: var(--gap-default);
        box-sizing: border-box;
        width: 100%;
      }

      &-video,
      &-series {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($movie-card-width, 1fr));
        gap: var(--gap-default);
        box-sizing: border-box;
        width: 100%;
      }

      &-episodes {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($episode-card-width, 1fr));
        gap: var(--gap-default);
        box-sizing: border-box;
        width: 100%;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    fill: var(--menu-icon-color);
    background-color: var(--text-button-background-color);
    color: var(--text-button-color);
    border: 1px solid var(--text-button-border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    box-sizing: border-box;
    gap: var(--gap-default);
    padding: 0 var(--padding-default);
    overflow: hidden;
    text-overflow: ellipsis;

    .svg-icon {
      box-sizing: border-box;
      height: 100%;
      aspect-ratio: 1 / 1;
    }

    &-label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      box-sizing: border-box;
      gap: var(--gap-default);
      padding: 0 var(--padding-default);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      background-color: var(--text-button-hover-background-color);
      color: var(--text-button-hover-color);
    }

    &-live {
      max-height: 3rem;
      min-height: 3rem;
    }

    &-video {
      max-height: 3rem;
      min-height: 3rem;
    }

    &-series {
      max-height: 3rem;
      min-height: 3rem;
    }

    &-live:before,
    &-video:before,
    &-series:before {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
    }
  }

  &__channel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    fill: var(--menu-icon-color);
    background-color: var(--text-button-background-color);
    color: var(--text-button-color);
    border: 1px solid var(--text-button-border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    box-sizing: border-box;
    gap: var(--gap-default);
    padding-left: var(--padding-micro);
    overflow: hidden;
    text-overflow: ellipsis;

    &-live {
      position: relative;
      max-height: 4rem;
      min-height: 4rem;

      .tp__playlist-explorer__channel {

        &-logo {
          box-sizing: border-box;
          height: 3rem;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    &-video,
    &-series {
      position: relative;
      max-height: $movie-card-height;
      min-height: $movie-card-height;
      max-width: $movie-card-width;
      min-width: $movie-card-width;
      padding: 0;

      .tp__playlist-explorer__channel {
        &-logo {
          box-sizing: border-box;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        &-title {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3rem;
          background-color: var(--card-background-color);
          padding-left: 2rem;
          display: flex;
          align-items: center;
        }
      }

      .tp__icon-button {
        position: absolute;
        z-index: 1;
        bottom: 0.75rem;
        left: 0;
        background-color: transparent;
      }
    }

    &-episode {
      position: relative;
      max-height: $episode-card-height;
      min-height: $episode-card-height;
      max-width: $episode-card-width;
      min-width: $episode-card-width;
      padding: 0;

      .tp__playlist-explorer__channel {
        &-logo {
          box-sizing: border-box;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        &-title {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3rem;
          background-color: var(--card-background-color);
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &__series-info {
    display: flex;
    flex-flow: column;
    gap: var(--gap-default);
    box-sizing: border-box;
    overflow: hidden;

    &__nowrap {
      white-space: nowrap;
    }

    &__body {
      display: flex;
      flex-flow: column;
      gap: var(--gap-default);
      box-sizing: border-box;
      overflow: auto;

      .tp__playlist-explorer__group-list {
        overflow: unset;
      }

      &-top {
        display: flex;
        flex-flow: column;
        gap: var(--gap-default);
        min-height: 300px;
        background-size: cover;
        background-position: right top;

        font-size: 1.2rem;
        box-sizing: border-box;

        &-content {
          display: flex;
          flex-flow: column;
          gap: var(--gap-default);
          max-width: 60%;
          background-size: cover;
          background-position: center;
          font-size: 1.2rem;
        }
      }
    }

    &__title {
      font-weight: bold;
      font-size: 2.5rem;
      color: white;
    }

    &__infos {
      display: flex;
      flex-flow: row;
      gap: var(--gap-larger);
    }

    &__season {
      color: white;
      display: flex;
      flex-flow: column;
      gap: var(--gap-default);

      &-title {
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }
}